.homePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.homePage__title {
  margin-bottom: 2em;
}

.homePage__productsList {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
